{% extends 'ipl/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Match Details:</h2>
        </div>
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                {{form |crispy }}
                <div class="form-group">
                    <button type="submit"
                        class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}